# vim swap files
*.swp

# emacs backup files
*~

# python bytecode files
*.pyc

# virtualenv
env

# distutils with PIP
build
dist
README.rst
w1thermsensor.egg-info

# coverage data
.coverage

# mocked sensors
test/mockedsensors

# ignore temporary tox environments
.tox
