Source: w1thermsensor
Maintainer: Timo Furrer <tuxtimo@gmail.com>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 9)
Standards-Version: 3.9.1

Package: python-w1thermsensor
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: This little pure python module provides a single class to ge

